.gráfico {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px ;
    transition: width 0.8s;
}

.gráfico:hover {
  width: 650px
}

.links2 {
  background-color: rgb(255, 255, 255);
  margin: 1.5rem 1rem 1rem 20rem ;
  padding: 1.3rem ;
  border-radius: 1rem ;
  display: flex ;
  justify-content: space-evenly ;
}

.links2 a {
  text-decoration: none;
  color:rgb(0, 0, 0) ;
  font-size: 1.2 rem;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: rgb(0,0,0) ;
}

.linha {
  border-left: 1px solid #000 ;
  height  : 1.5rem ;
  color:rgb(255, 255, 255);
  box-shadow: 3px 5px 5px rgb(0, 0, 0) ;
}