Body {
    background-color: lch(17.72% 47.09 34.88 / 0.933);
    margin: 0;
}

    #menu { background-color: #440101f5 ;
        margin-top: -25px;
        width:300px;
        height:1500px;
        text-align: center;
        box-shadow:0px 0px 3px rgb(0,0,0)
} 

    .logo {
        width: 150px;
        margin-top: 75px;
        border-radius: 50% ;
        border: 5px double #ffffff ;
        box-shadow:3px 5px 3px  ;
    }

    h1,h2 {
        font-size: 1.2rem;
        font-family:'Times New Roman', Times, serif ;
        color: #ffffff ;
        text-shadow: 3px 5px 5px rgb(0, 0, 0) ;
    }

    .links1 {
    text-decoration: none;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    text-shadow: 3px 5px 5px rgb(0, 0, 0) ;
    display: flex ;
    flex-direction: column ;
    padding: 1rem 0 ; 
    font-weight: 600;
    transition: all 0.8s ease;
    }

.links1:hover {
    background-color: #ead5d5;
    color:rgb(4, 0, 0) ;
}

header {
    float: left;
}

h3,ul,footer{
    font-family:'Times New Roman', Times, serif;
    color: #000000ae;
}

.info1 {
    background-color: rgb(255, 255, 255) ;
    margin: 1rem 1rem 0.5rem 23rem ;
    padding: 1rem ;
    border-radius: 1rem ;
    box-shadow:3px 3px 3px rgb(0,0,0) ;
}

.info2 {
    background-color: floralwhite ;
    margin: 1rem 1rem 0.5rem 1rem ;
    padding: 1rem ;
    border-radius: 1rem ;
    box-shadow:3px 3px 3px rgb(0,0,0) ;
    width: 300px ;
    height:100px ;
}

.info3 {
    background-color: floralwhite ;
    margin: 1rem 1rem 0.5rem 1rem ;
    padding: 1rem ;
    border-radius: 1rem ;
    box-shadow:3px 3px 3px rgb(0,0,0) ;
    width: 300px ;
    height:100px ;
}


.info4 {
    background-color: floralwhite ;
    margin: 1rem 1rem 0.5rem 1rem ;
    padding: 1rem ;
    border-radius: 1rem ;
    box-shadow:3px 3px 3px rgb(0,0,0) ;
    width: 300px ;
    height:100px ;
    
}

.info5 {
    background-color: floralwhite ;
    margin: 1rem 1rem 0.5rem 1rem ;
    padding: 1rem ;
    border-radius: 1rem ;
    box-shadow:3px 3px 3px rgb(0,0,0) ;
    width: 300px ;
    height:100px ;
     
}

.info6 {
    background-color: floralwhite ;
    margin: 1rem 1rem 0.5rem 1rem ;
    padding: 1rem ;
    border-radius: 1rem ;
    box-shadow:3px 3px 3px rgb(0,0,0) ;
    width: 300px ;
    height:100px ;
     
}

.info7 {
    background-color: floralwhite ;
    margin: 1rem 1rem 0.5rem 1rem ;
    padding: 1rem ;
    border-radius: 1rem ;
    box-shadow:3px 3px 3px rgb(0,0,0) ;
    width: 300px ;
    height:100px ;
    
}

.info8 {
    background-color: floralwhite ;
    margin: 1rem 1rem 0.5rem 1rem ;
    padding: 3rem ;
    border-radius: 1rem ;
    box-shadow:3px 3px 3px rgb(0,0,0) ;
    width: 300px ;
    height:300px ;
     
}

#conteudo {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ;
}

footer {
    background-color: #ffffff;
    color: #440101f5 ;
    font-size: 1.8rem ;
    text-align: center;
    clear: both ;
    padding: 0.5rem ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-shadow: 3px 5px 5px rgba(63, 60, 60, 0.844) ;
}