.estelar {
  color: pink;            /* Define a cor rosa para o texto */
  font-weight: bold;      /* Deixa em negrito (opcional) */
}

.princesa {
  color: orange;          /* Cor laranja */
  font-weight: bold;      /* Também negrito */
}

Docinho {
  color: green
  font-weight: bold;

}